$primary-color: #3498db;

body {
  font-family: Arial, sans-serif;
  background-color: $primary-color;
  text-align: center;
  font-size: 1.5rem;
}
input {
  margin-bottom: 25px;
}
form {
  border: 2px solid black;
  width: 350px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
button {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
